@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');

.scene {
    width: 100vw; height: 100vh;
    max-width: 100vw; max-height: 100vh;
    background: rgb(230, 230, 230);
    overflow: hidden !important;
    position: relative; left: 0; top: 0; right: 0; bottom: 0;

    margin: 0; padding: 0;
}

.main-box {
    width: 100%; height: 100%;
}

.branding {
    z-index: 99999;
    position: absolute; top: 0; left: 0;
    background: transparent;
    padding: 20px 0 0 25px;
}

.branding h1, .branding h2 {
    color: rgb(230, 230, 230);
    text-shadow: 1px 1px 5px rgba(20, 20, 20, 0.8);
    background-clip: text;
}

.branding h1 {
    font-family: 'Concert One', cursive;
    line-height: 20px;
    font-size: 2.5em;
}

.branding h2 {
    font-size: 1.0em;
    text-align: right;
}

.mobile-container {
    display: none;
}

@media screen and (max-width: 1024px) {
    .scene {
        display: none;
    }

    .branding {
        display: none;
    }

    .mobile-container {
        display: block;
    }

    html, body {
        background: rgb(220, 220, 220);
        overflow: auto;
    }
}

.mobile-branding {
    font-family: 'Concert One', cursive;
    padding-bottom: 20px;
    margin-top: 20px; margin-bottom: 10px;
    padding-top: 20px; padding-bottom: 40px;
}

.mobile-branding > h2 {
    line-height: 10px;
    padding: 0;
    margin: 0;
}

.mobile-warning-box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mobile-warning {
    color: var(--yellow);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.about-me-header {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.about-me {
    font-size: 1.2em;
}

.mobile-nav > button {
    font-size: 1.3em;
    padding: 20px 20px;
}

.mobile-footer {
    display: block;
    width: 100%; height: auto;
    padding-top: 20px; padding-bottom: 20px;
}

.mobile-social-buttons > a {
    padding: 0 10px;
    font-size: 2em
}
