.new-project-container {
    z-index: 9999999999999999999;
    position: fixed; top: 0; left: 0; bottom: 0; right: 0;
    width: 100%; height: 100%;
    background: rgba(20, 20, 20, 0.6)
}

.form-error {
    background: red;
    color: white;
    padding: 5px;
    border-radius: 3px;
    animation: show .2s forwards;
}

@keyframes show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}