.projects-container {
    position: absolute; top: 0; left: 0;
    z-index: 9999999999999999999;
    background: rgb(230, 230, 230);
    width: 100%; height: auto;
    min-height: 100vh;
}

.opening-projects {
    animation: showProjects .5s ease-in forwards;
}

.closing-projects {
    animation: hideProjects .5s ease-out forwards;
}

@keyframes showProjects {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes hideProjects {
    from { opacity: 1; }
    to { opacity: 0; }
}